@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800,300italic);

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
   }

/******************************************
/* LAYOUT
/*******************************************/

#container {
  width: 100%;
  margin: auto;
}

header {
	display: flex;
  justify-content: space-around;
  background-color: white;
  height: 100px;
}

#mainHeader {
  float: left;
  text-align: left;
  padding: 30px;
}

#mainHeader h1 {
  text-align: left;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 28px;
}

#header_links {
  float: right;
}

#header_links nav {
  padding-top: 40px;
}

#header_links nav a {
	padding-left: 30px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#mainContainer {
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productBlock {
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 5px;
  background-color: black;
}

.productBlock p {
  color: white;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  max-width: 100%;
  padding-top: 1%;
  position: relative;
  margin: auto;
  justify-content: center;
}

.mySlides {
  width: 50%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 48%;
  text-align: center;
  color: black;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#signup{
  width: 100%;
	background-color: #f9e42e;
  display: flex;
  justify-content: center;
  padding: 5px 30px 5px 30px;
	height: 30px;
	padding-top: 12px;
	padding-bottom: 10px;
}

#signup p{
  text-align: center;
  width: 100px;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  background-color: blue;
  color: white;
}

#social_media a img {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 15px;
	height: 50px;
	width: 50px;
}

.copyright{
	width: 100%;
	text-align: center;
}
